<h5 class="text-success">{{error}}</h5>
  
  <div class="card">
    <h2>Food App Bill</h2>
    <strong>Welcome ! ! !</strong>
  <p><strong>Order ID:</strong> 12345</p>
  <p><strong>Date:</strong> March 23, 2025</p>
  <p><strong>Time:</strong> 10:00 AM</p>
  <p><strong>Location:</strong> Noida, Uttar Pradesh 201301</p>
  
  <h2>Order Details</h2>
  
  <table border="1">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price (Rs.)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItemDetails, let i=index">
        <td>{{item.name}} </td>
        <td>{{item.quantity}} </td>
        <td>{{item.price}} </td>
        <td><button class="btn btn-danger"><i class="bi bi-trash3"></i></button></td>
       
      </tr>
    
    </tbody>
  </table>
  
  <p><strong>Grand Total:Rs. {{grandTotal}}</strong></p>
  
  <p><strong>Payment Method:</strong>Cash On Delivery</p>
  <p><button class="btn btn-success" (click)="msgAlert()">Confirm Order</button></p>
  </div>
  

