ul{margin-top: 10px;
    width: 100% ;
    height: 80px;
    background: none;
    /* border: 1px solid black; */
    
}

li{
    display: inline-block;
    text-decoration: none;
    /* height: 60px; */
}

.cent{
    margin-left: 450px;
}
.hidetext {

    -webkit-text-security: disc; /* Default */
}
.scrollmenu{
    overflow-y: auto;
    scrollbar-color: red;

  }