<body background="../assets/mandal.jpg">
    <ul style="text-decoration: none;">
   
    <li><a routerLink="/home">
      <button class="btn btn-outline-default" style="background:none; ">
        <img src="./assets/house-heart.svg" style="height: 26px; width: 40px;"></button></a></li>
     
    
      </ul> 

<div class="card text-center">
    <h3>Your Profile Details</h3>
    <div class="content">
    <div class="bootstrap-wrapper">
     <div class="container">
 
 <div class="container text-center">
     <img src="./assets/pro.png" >
 </div>
 
 
         <div class="row" >
 
             <div class="col-md-10 offset-md-1">
                <table class="table text-center">
                 <tr>
                     <td><b>User Name </b></td>
                     <td>Isha Vats</td>
                 </tr>
                 <tr>
                     <td><b>Email </b></td>
                     <td>ivats.nic&#64;gmail.com</td>
                 </tr>
                 <tr>
                     <td><b>Address</b> </td>
                     <td>Ram Nagar</td>
                 </tr>
                 <tr>
                     <td><b>Phone Number</b> </td>
                     <td>8700300801</td>
                 </tr>
                 
                </table>
             </div>
         </div>
     </div>
    </div>
    </div> 
    <div class="container">
     <button class="btn btn-success">Update</button>
     <button class="btn btn-danger" routerLink="/">Log Out</button>
    </div>
 </div>