<body >
    
    <div class="head-top">
        <p class="mb-0 text-center text-white cr-header--green fs-md-18 fs-12">
             Celebrate the Festive Season! Check Out our Ayudha Pooja and Diwali Specials!
        </p>
    </div>
    <section class="cr-section bg-white  ">
        <div >
            <div >
                <div  style="width: 100%; height: fit-content;" >
                    <ul class="p-0 m-0">
                        <li><img src="../assets/bitebuzzlogo.png" style="width: 200px; " ></li>
                    
                      
                            
                            <li><a routerLink="/login"> <img src="../assets/diwali.png" 
                                style="height: 200px; width: 400px; margin-left: 220px; "> </a></li>
                            
                        </ul>
                        
                        
                        
                    
                </div>
            </div>
        </div>

    </section>
    <section class="cr-section cr-section--home-how-it-works pt-36 pt-md-96 bg-lightgreen position-relative">
        <div class="cr-section__inner overflow-hidden px-24 px-md-0 px-md-56 pb-lg-76 pb-xl-0">
            <h2 data-aos="fade-left" class="fs-32 fs-md-48 fs-xl-64 cold text-start text-md-center
            text-lg-end mb-42 mb-md-74 aos-init aos-animate">How it works</h2>
            <br>
            <img src="../assets/howitworks.svg" >
        </div>
    </section>
    <section>
        <div class="download">
            <div class="tool">
                download now on
            </div>
        </div>
    </section>
    <c-footer>
        <div>
          <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a>
          <span> &copy; 2021 creativeLabs</span>
        </div>
        <div class="ms-auto">
          <span>Powered by </span>
          <a href="https://coreui.io/pro/angular" target="_blank">
            <span>CoreUI for Angular</span>
          </a>
        </div>
      </c-footer>
</body>

